.header {
    background-color: #a2e0b7;
    color: #fff;
    text-align: center;
}

.content {
    margin: 5% auto;
}

.lights_on {
    border: 2px solid yellowgreen;
    color: grey;
    font-weight: bold;
}
.lights_off {
    border: 1px dashed grey;
    color: grey black;
    font-style: italic;
}