.cute-card{
    // position: absolute;
    width: 320px;
    height: 450px;
    margin: 40px;
    box-shadow: 20px 20px 0 0 #ffffff;
    border-radius: 28px;
    border: 1px solid #eee;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    background-origin: padding-box;
    text-align: center;

    .title-card{ 
        margin: auto;
        background-color: #f6f6f6;
        border-radius: 28px 28px 0 0;
        width: auto;
        height: 70px;
        border: 1px solid transparent;
    }
    .mid-card{
        border: 1px solid transparent;
        height: 140px;
        padding: 0 20%;
    }
    .footer-card{
        padding-top: 20px;
        background-color: transparent;
        height: auto;
        margin: 0;
    }
}

.cute-card:hover {
    // background: #ffba8d;
    box-shadow: 20px 20px 0 0 #ec782b;
    border: 1px solid #ec782b;
    .mid-card{ 
        color: #fff;
        background-color: #ec782b;
    }
}