.heading-card{
    text-align: center;
    padding: 20px 0;
    color: #e97c34;

    .cute-card{
        // position: absolute;
        width: 300px;
        height: 250px;
        margin: 20px;
        // box-shadow: 20px 20px 0 0 #eb846a;
        border-radius: 28px;
        border: 1px solid rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
        background-clip: border-box;
        background-origin: padding-box;
        text-align: center;
        color:rgb(29, 27, 27);

        .title-card{ 
            margin: auto;
            background-color: #f6f6f6;
            border-radius: 28px 28px 0 0;
            width: auto;
            height: 100px;
            border: 1px solid transparent;
            color: rgb(61, 3, 3);
            p{
                line-height: 100px;
                font-size: 2.2em;
            }
        }
        .mid-card{
            border: 1px solid transparent;
            // height: 140px;
            padding: 10% 10%;
            color: rgb(29, 27, 27);
        }
        // .footer-card{
        //     padding-top: 20px;
        //     background-color: transparent;
        //     height: auto;
        //     margin: 0;
        // }
    }

    .cute-card:hover {
        background: #e97c34;
        // box-shadow: 20px 20px 0 0 #ec782b;
        border: 1px solid #ec782b;
        .title-card{ 
            color: #fff;
            background-color: #924005;
        }
        .mid-card{
            color:#fff;
        }
    }
}